@use '../../sass/variables' as *;
@use '../../sass/media-query' as mq;

figure {
  background: $white;
  border: 1px solid #c7c7c7;
  margin: $xl 0;
  padding: 20px;
  text-align: center;

  @include mq.media-query('xl') {
    padding: 15px;
  }

  @include mq.media-query('md') {
    margin: $md 0;
    padding: 10px;
    text-align: center;
  }

  img {
    max-width: 100%;
  }
}

.updated {
  margin-top: 10px;
  font-size: $extra-small;
  font-style: italic;
}
