@import '../../layout/common/sass/variables';
@import '../../layout/common/sass/media-query';

figure {
  background: $white;
  border: 1px solid #c7c7c7;
  margin: $xl 0;
  padding: 20px;

  @include media-query('xl') {
    padding: 20px 15px;
  }

  @include media-query('md') {
    margin: $md 0;
    padding: 15px 10px;
    text-align: center;
  }

  img {
    max-width: 100%;
    margin-bottom: 10px;
  }
}

.updated {
  margin-top: 10px;
  font-size: $extra-small;
  font-style: italic;
}
