@import "../common/sass/variables";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 10px calc(50% - #{$main-width/2});
  background: $header-background;
  text-align: center;
  flex: 0 0 auto;
  width: 100%;

  @media screen and (max-width: 1140px) {
    flex-direction: column;
    padding: 10px $horizontal-small-padding;
  }
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 48px;
  color: #fff;
  cursor: pointer;

  @media screen and (max-width: 770px) {
    padding: 5px;
    font-size: 36px;
  }

  &::after {

    @media screen and (max-width: 770px) {
      content: "";
      display: block;
      height: 42px;
      margin-top: 10px;
      background: url("./img/divider-top.png") no-repeat;
      background-size: 209px;
    }
  }
}

h2 {
  font-family: 'Caveat', cursive;
  font-size: 34px;
  color: #fff;

  @media screen and (max-width: 770px) {
    font-size: 24px;
    padding: 5px;
  }
}
