@use '../../sass/variables' as *;
@use '../../sass/media-query' as mq;

header {
  flex: 0 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 10px calc(50% - #{calc($main-width/2)});
  background: $header-background;
  text-align: center;
  width: 100%;

  @include mq.media-query('xl') {
    flex-direction: column;
    padding: 10px;
  }
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 48px;
  color: #fff;
  cursor: pointer;

  @include mq.media-query('md') {
    padding: 5px;
    font-size: 36px;
  }

  &::after {

    @include mq.media-query('md') {
      content: "";
      display: block;
      height: 42px;
      margin-top: 10px;
      background: url("./img/divider-top.png") no-repeat;
      background-size: 209px;
    }
  }
}

h2 {
  font-family: 'Caveat', cursive;
  font-size: 34px;
  color: #fff;

  @include mq.media-query('md') {
    font-size: 24px;
    padding: 5px;
  }
}
