@use '../../sass/variables' as *;

.photo {
  margin: 20px auto;
  max-width: $main-width;
  width: 100%;
  color: $text;
  font-family: 'Playfair Display', 'Helvetica', serif;

  &-list {
    background: $white;
    margin: 10px;
    padding: 10px;
    border: 1px solid $button-background;
  }
}

.tab {
  margin-right: 10px;
  padding: 20px 10px;
  background: $white;
  border: 1px solid $text;

  &:hover, &:focus {
    color: dodgerblue;
    border: 1px solid $text;
  }
}
