//colors
$white: #fff;
$header-background: #372554;
$text: #212529;
$first-letter: red;
$button-background: #777777;
$footer-text: #DCDCDC;

//width
$main-width: 1120px;
$button-width: 150px;

// margin or margin
$md: 10px;
$xl: 20px;


// font-size
$base: 1rem;
$extra-large: 1.5rem;
$extra-extra-large: 2.6875rem;
$small: .875rem;
$extra-small: .75rem;
$extra-extra-small: .625rem;
$column-title: 20px;
$column-list-title: 13px;

$line-height: 1.3;
