@import '../../layout/common/sass/_variables';
@import '../../layout/common/sass/media-query';

article {
  display: flex;
  flex-direction: column;
  margin: $xl 0;
  padding: 20px;
  border: 1px solid #c7c7c7;
  background: $white;

  @include media-query('xl') {
    padding: 20px 15px;
  }

  @include media-query('md') {
    margin: $md 0;
    padding: 15px 10px;
  }
}

h3 {
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: center;
  width: 70%;
  margin: 0 auto;

  &:after {
    content: url("./img/divider-gold.png");
    display: block;
    margin-top: 10px;
  }
}

.text {
  color: $text;
  font-family: 'Playfair Display', 'Helvetica', serif;
  text-align: justify;
  text-indent: 1.5rem;
  margin: 10px 0;
  line-height: $line-height;

  &:first-letter {
    color: $first-letter;
    font-size: larger;
  }

  &.expanded:first-letter {
    color: $text;
    font-size: 16px;
  }
}

.button {
  align-self: center;
  background: $button-background;
  background-clip: padding-box;
  border: 4px solid transparent;
  box-shadow: 0 0 0 .1px $button-background;
  box-sizing: content-box;
  color: $white;
  display: inline-block;
  padding: 10px 20px;
  font-family: "Open Sans", sans-serif;
  font-size: $extra-small;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: $button-width;

  &:hover,
  &:focus {
    background: $header-background;
    background-clip: padding-box;
    border: 4px solid transparent;
    box-shadow: 0 0 0 .1px $header-background;
    color: $white;
  }
}
