@use '../../sass/variables' as *;
@use '../../sass/media-query' as mq;

.wrapper {
  display: flex;

  @include mq.media-query('md') {
    flex-direction: column;
    margin: $md;
  }
}

.main {
  @include mq.media-query('xl') {
    margin-left: $xl;
  }

  @include mq.media-query('md') {
    margin-left: 0;
  }
}
