@import "../common/sass/variables";
@import '../common/sass/media-query';

.map {

  width: $main-width;
  height: 100vh;

  @include media-query('xl') {
    width: 95vw;
  }

  &-header {
    color: $text;
    text-align: center;
    font-size: $extra-large;
  }

  &-description {
    width: 260px;
    text-align: justify;

    p {
      text-indent: 1.5rem;
    }
  }
}


