@import '../../sass/variables';
@import '../../sass/media-query';

aside {
  font-family: 'Amatic SC', cursive;
  flex-basis: 30%;
  flex-shrink: 0;
  margin: 0 $xl;


  @include media-query('md') {
    margin: 0;
  }

  span {
    font-family: 'Caveat', cursive;
    font-size: larger;
    text-indent: 1.5rem;
    line-height: $line-height;
  }
}

.thanks {
  margin-bottom: 10px;
}
