@import "reset.css";
@import "layout/common/sass/variables";
.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

.content {
  margin: 0 auto;
  max-width: $main-width;
  flex: 1 0 auto;
}
