@import "reset.css";
@import "layout/common/sass/variables";
.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

.main-content {
  margin: 0 auto;
  max-width: $main-width;
  flex: 1 0 auto;
}

p {
  color: $text;
  font-family: 'Playfair Display', 'Helvetica', serif;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Arial', sans-serif;
}

span,
figcaption {
  font-size: 14px;
}
