@import "../common/sass/variables";
@import '../common/sass/media-query';

footer {
  width: 100%;
  padding: 40px calc(50% - #{$main-width/2});
  font-family: 'Fira Sans Condensed', sans-serif;
  color: #DCDCDC;
  background: linear-gradient(rgb(69, 72, 77), rgb(0, 0, 0));
  flex: 0 0 auto;

  @include media-query('xl') {
    padding: 40px 20px;
  }
}

h5 {
  margin-bottom: 10px;
  font-size: 22px;
}

.foot-wrap {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-gap: 2em 1em;

  @include media-query('lg') {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto) 20px;
    grid-column: 1/-1;
    grid-row-gap: 50px;
  }
}

.foot-section {
  display: flex;
  flex-direction: column;
  font-size: 16px;

  &.contacts {
    align-items: end;

    @include media-query('lg') {
      align-items: center;
    }
  }

  &.center {
    align-items: center;
    text-align: center;
  }

  &.list {
    align-items: flex-end;

    @include media-query('lg') {
      align-items: center;
    }
  }

  & a:hover {
    color: #fff;
  }

  .foot-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include media-query('lg') {
      align-items: center;
    }
  }
}

.foot-title {

  &::after {
    content: "";
    display: block;
    width: 250px;
    height: 27px;
    margin: 10px auto;
    background: url("./img/divider-white.png") no-repeat;
    background-size: 255px;
  }
}

.info {
  display: inline-block;
  padding: 5px 0;
}

.copyright {
  grid-column: 1/-1;
  font-size: 12px;
  text-align: center;
}
