@use "../../sass/variables" as *;
@use '../../sass/media-query' as mq;

footer {
  width: 100%;
  padding: 40px calc(50% - #{calc($main-width/2)});
  font-family: 'Fira Sans Condensed', sans-serif;
  color: $footer-text;
  background: linear-gradient(rgb(69, 72, 77), rgb(0, 0, 0));
  flex: 0 0 auto;

  @include mq.media-query('xl') {
    padding: 40px 20px;
  }
}

h5 {
  margin-bottom: 10px;
  font-size: 22px;
}

.foot-wrap {
  display: grid;
  grid-template-columns: 340px 2fr 1fr;
  grid-gap: 2em 1em;

  @include mq.media-query('lg') {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto) 20px;
    grid-column: 1/-1;
    grid-row-gap: 50px;
  }
}

.foot-section {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  gap: 1rem;

  &.contacts {
    align-items: start;

    @include mq.media-query('lg') {
      align-items: center;
    }
  }

  &.center {
    align-items: center;
    text-align: center;
  }

  &.list {
    align-items: flex-end;

    @include mq.media-query('lg') {
      align-items: center;
    }
  }

  & a:hover,
  & a:focus {
    color: $white;
  }

  .foot-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include mq.media-query('lg') {
      align-items: center;
    }
  }
}

.foot-title {
  margin-top: 1rem;

  &::after {
    content: "";
    display: block;
    width: 250px;
    height: 27px;
    margin: 10px auto;
    background: url("./img/divider-white.png") no-repeat;
    background-size: 255px;
  }
}

.info {
  display: inline-block;
  cursor: pointer;
}

.copyright {
  grid-column: 1/-1;
  font-size: 14px;
  text-align: center;

  .info {
    color: $button-background;

    &:hover,
    &:focus {
      color: $footer-text;
    }
  }
}

.copy {
  color: $footer-text;
  background: rgb(69, 72, 77);
  border: 1px solid $button-background;
  border-radius: 3px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 12px;
}
