@import "../../layout/common/sass/variables.scss";

footer {
  max-width: $main-width;
  margin: 0 auto;
  padding: 20px calc(50% - #{$main-width/2});
  font-family: 'Fira Sans Condensed', sans-serif;
  color: #DCDCDC;
  background: linear-gradient(rgb(69, 72, 77), rgb(0, 0, 0));
  overflow: hidden;

  @media screen and (max-width: 1140px) {
    padding: 40px 20px 15px;
  }
}

h5 {
  margin-bottom: 10px;
  font-size: 22px;
}

.foot-wrap {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-gap: 2em 1em;

  @media screen and (max-width: 920px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto) 20px;
    grid-column: 1/-1;
    grid-row-gap: 50px;
  }
}

.foot-section {
  display: flex;
  flex-direction: column;
  font-size: 16px;

  &.contacts {
    align-items: end;

    @media screen and (max-width: 920px) {
      align-items: center;
    }
  }

  &.list {
    align-items: flex-end;

    @media screen and (max-width: 920px) {
      align-items: center;
    }
  }

  & a:hover {
    color: #fff;
  }

  .foot-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media screen and (max-width: 920px) {
      align-items: center;
    }
  }
}

.foot-title {

  &::after {
    content: "";
    display: block;
    width: 250px;
    height: 24px;
    margin: 10px auto;
    background-image: url("./img/divider-white.png");
  }
}

.info {
  display: inline-block;
  padding: 5px 0;
}

.copyright {
  grid-column: 1/-1;
  font-size: 12px;
}
